<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>599059477459-9p826t47na1bfhjd3e1cj3f1gueao499.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599059477459-9p826t47na1bfhjd3e1cj3f1gueao499</string>
	<key>API_KEY</key>
	<string>AIzaSyBskxTq862tMtfy5ckdRRH-xi08CEYCTkI</string>
	<key>GCM_SENDER_ID</key>
	<string>599059477459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lesilencedesjustes.tsedaka</string>
	<key>PROJECT_ID</key>
	<string>sdjavenir-c226c</string>
	<key>STORAGE_BUCKET</key>
	<string>sdjavenir-c226c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599059477459:ios:22ab95200eee4873</string>
	<key>DATABASE_URL</key>
	<string>https://sdjavenir-c226c.firebaseio.com</string>
</dict>
</plist>